<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Substraction - </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">

  <ion-list>
   <ion-item  id="rounded">
     <ion-input type="number"  placeholder="Enter X " [(ngModel)]="firstNumber"></ion-input>
   </ion-item>
   <ion-item  id="rounded">
     <ion-input type="number"    placeholder="Enter Y " [(ngModel)]="secondNumber"></ion-input>
   </ion-item>
   <ion-item>
    <ion-grid>
     <ion-row>
       <ion-col><ion-button color="danger"  expand="full" (click)="sub()">-</ion-button></ion-col>
       
     </ion-row>
   </ion-grid></ion-item>
   <ion-item  id="rounded">
      <ion-label  > Result =
         <span class="result">
          {{result}}
        </span> 
      </ion-label>
   </ion-item>
  </ion-list>
 
</div>


 </ion-content>
 